<div class="jumbotron">
  <div class="container">
    <h1>
      Welcome
    </h1>
    <p>
      This is the home page of the FIRST Alumni Site, This page will contain information about FIRST Alumni in general and what this site is for.
    </p>
    <!--<a class="">Learn more »</a>--><a class="btn btn-primary btn-lg" href="/pages/about">Learn more &raquo;</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>
        Header 1
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed eros est. Quisque iaculis nulla ac risus aliquam pretium.
      </p>
      <p>
        <a class="btn btn-info" href="#">More &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2>
        Header 2
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed eros est. Quisque iaculis nulla ac risus aliquam pretium.
      </p>
      <p>
        <a class="btn btn-info" href="#">More &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2>
        Header 3
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed eros est. Quisque iaculis nulla ac risus aliquam pretium.
      </p>
      <p>
        <a class="btn btn-info" href="#">More &raquo;</a>
      </p>
    </div>
  </div>
</div>

